{% extends 'mailing_app/base.html' %}

{% block content %}
<div class="container">
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                {{ letter_subject }}, {{ letter_body }}
                {% if user.is_authenticated %}
                    <a href="{% url 'mailing_app:message_form' message.pk %}" class="btn btn-secondary">Редактировать</a>
                    <a href="{% url 'mailing_app:message_delete' message.pk %}" class="btn btn-danger">Удалить</a>
                    <a href="{% url 'mailing_app:messages_list' %}" class="btn btn-primary">Вернуться к списку</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}